@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
}

.soundcloud {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 90%;
    width: 600px;
}

.youtube {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 90%;
    width: 600px;
}